*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 375px;
  background-color: hsl(244, 37%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  width: fit-content;
  background-color: hsl(277, 64%, 61%);
  line-height: 0; /* इमेज के नीचे के गैप को हटाने के लिए */
}

.image-container img {
  width: 100%; 
  mix-blend-mode: multiply; 
}

.desktop-img{
  width: 100vw;
  display: none;
}

.mobile-img{
  width: 100vw;
  display: block;
}

@media (min-width: 750px){
  .desktop-img{
    display: block;
    width: 100vw;
  }
  
  .mobile-img{
    display: none;
    width: 100vw;
  }
}


h1{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin: 40px 30px 30px 20px;
}

.color{
  display: inline;
  color: hsl(277, 64%, 61%);
}

p{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0 60px 20px 60px;
  line-height: 22px;
}

h2{
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  margin: 10px;
}

div > span{
  display: inline-block;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 20px;
}

.last{
  margin-bottom: 35px;
}